#root {
	max-width: 1280px;
	margin: 0 auto;
}
header {
	background-color: #f55a5a;
	text-align: center;
	display: flex;
	place-items: center;
	gap: 1rem;
	padding: 0.8rem;
	/* border: 1px solid saddlebrown; */
	margin-bottom: 2rem;
}
header > .logo--img {
	width: 2.5rem;
	margin-left: auto;
}
header > h2 {
	color: #fff;
	margin-right: auto;
}
p,
h4,
a {
	font-size: 0.8rem;
}

h4 {
	margin-right: 16px;
}
a {
	color: grey;
	text-decoration: none;
	border-bottom: grey 1px solid;
}
h1 {
	font-size: 1.6rem;
	margin-bottom: 0.8rem;
}

article {
	width: 500px;
	margin: 2rem auto;
	display: flex;
	align-items: center;
	gap: 1.2rem;
}
.location--img {
	width: 125px;
	height: 168px;
	object-fit: cover;
	border-radius: 8px;
}

.google--map {
	display: flex;
	align-items: center;
}
.location--icon {
	width: 8px;
	margin-right: 4px;
}
.bold {
	font-weight: 700;
	margin-bottom: 6px;
}
hr {
	width: 60%;
	margin: 0 auto;
	height: 2px;
	border-width: 0px;
	background-color: rgb(243 243 243);
}
