#root {
    max-width: 1280px;
    margin: 0 auto;
}
body {
    display: flex;
    place-items: center;
    min-height: 100vh;
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 0.6em;
    border-bottom: 4px solid burlywood;
}
ul {
    width: 80%;
    /* padding: 1em; */
    list-style-position: inside;
    margin: 0 auto;
}
li {
    /* list-style-type: none; */
    width: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: hsla(39, 100%, 50%, 0.6);
    position: relative;
}
li span {
    position: absolute;
    margin-left: 0.3rem;
}
li::marker {
    content: "\2717   ";
}
li.valid::marker {
    content: "\2713   ";
}
li.valid {
    color: rgba(172, 255, 47, 0.6);
}
input {
    display: block;
    padding: 0.8em;
    width: 100%;
    margin-bottom: 1rem;
    margin-inline: auto;
}
form {
    background-color: hsl(208, 100%, 97%, 0.1);
    padding: 3em;
    border-end-end-radius: 0.8rem;
    border-end-start-radius: 0.8rem;
}
form > div {
    /* border: 1px solid burlywood; */
    margin-bottom: 2rem;
}
/* form > div:first-child {
    margin-bottom: 2rem;
} */
button {
    display: block;
    width: 50%;
    margin: 0 auto;
    border: none;
    padding: 0.4rem 1rem;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: hsla(34, 100%, 39%, 0.7);
    color: hsla(208, 100%, 97%, 0.7);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
button:hover {
    background-color: hsla(33, 100%, 29%, 0.8);
    /* transform: scale(0.99); */
}
