#root {
    max-width: 1280px;
    margin: 0 auto;
}
body {
    display: flex;
    place-items: center;
    min-height: 100vh;
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 0.6em;
    border-bottom: 4px solid burlywood;
}
ul {
    width: 80%;
    /* padding: 1em; */
    list-style-position: inside;
    margin: 0 auto;
}
li {
    /* list-style-type: none; */
    width: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: hsla(39, 100%, 50%, 0.6);
    position: relative;
}
li span {
    position: absolute;
    margin-left: 0.3rem;
}
li::marker {
    content: "\2717   ";
    /* font-size: 1rem; */
    /* font-size: 150%; */
}
li.valid::marker {
    content: "\2713   ";
}
li.valid {
    color: rgba(172, 255, 47, 0.6);
}
input {
    display: block;
    padding: 0.8em;
    width: 100%;
    margin-bottom: 1rem;
    margin-inline: auto;
}
form {
    background-color: hsl(208, 100%, 97%, 0.1);
    padding: 3em;
    border-end-end-radius: 0.8rem;
    border-end-start-radius: 0.8rem;
}
form > div:first-child {
    /* border: 1px solid burlywood; */
    margin-bottom: 2rem;
}
